* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #999;
}


.productBlock{
    display: flex;
    margin: 20px;
}

.productCard{
    padding: 15px;
}

a{
    color: black;
    text-decoration: none;
}