* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #999; */
}

nav {
    padding: 10px 15px;
    border-bottom: 2px solid #000;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border: black .5px solid;
}

tr {
    width: 100%;
    border: black .5px solid;
}

td,
th {
    padding: 5px 10px;
    width: 15%;
    border-left: black .5px solid;
    border-right: black .5px solid;
}

td:nth-child(1) {
    width: 3%;
}

td:nth-child(8) {
    width: 5%;
}

td:nth-child(9) {
    width: 5%;
}

img {
    width: 200px;
    height: 200px;
}

a {
    color: black;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.head_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
}

.head_link {
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
}

.head_link:hover {
    color: #00f;
}

.productBlock {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 15px;
}

.categoriesTable {
    margin: auto;
}

.text-left {
    text-align: left;
    background: #ffd237;
}

.text-left a {
    color: #881b9e;
    font-family: "Arial", "Times New Roman";
    font-weight: bold;
}

.text-left a:hover {
    color: #000000;
}

.productCard {
    padding: 20px;
}

.productForm {
    display: flex;
    column-gap: column;
    align-items: left;
}

.dn {
    display: none;
}

.createReviewsForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-top: 1px solid #000;
    column-gap: 10px;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
}

.createReviewsForm input[type="submit"] {
    width: 20px;
    height: 20px;
    border: none;
    background: url(../img/sendButton.svg);
    background-size: cover;
}

.createReviewsForm input[type="submit"]:hover {
    cursor: pointer;
}